APP_NAME=MOVEON
APP_URL=http://localhost/proyecto_taller/public/

DB_HOST=127.0.0.1
DB_DATABASE=carpooling
DB_USERNAME=root
DB_PASSWORD=

PHP_VERSION=8.x
MYSQL_VERSION=8.x_or_MariaDB_XAMPP
APACHE=XAMPP_Apache

PAYMENTS_ENABLED=false
SESSION_TIMEOUT_SECONDS=1800
